$ColorWhite:								#ffffff;
$ColorBlack:								#000000;

$ColorLight1: 								#efefef;
$ColorLight2:  								#e1e1e1;
$ColorLight3:								#d7d7d7;
$ColorLight4:								#b9b9b9;
$ColorLight5:								#cdcdcd;

$ColorDark1:								#1F2041;
$ColorDark2:								#4f5072bf;
$ColorDark3:								#1f204180;
$ColorDark4:								#1f204140;
$ColorDark5:								#1f20410d;

$ColorPurple:                               #Bc9cff;
$ColorGreen:                                #6fcf97;
$ColorInfo:									#3379f9;
$ColorAlert:								#d09e45;
$ColorDanger:								#e91f00;
$ColorDone:									#0aac19;
$ColorButton:								#f2ede8;

$FontFamily:								'Montserrat', Arial, sans-serif;
$FontIcon:									'Stebnev-Studio';
$FontSize: 									16px;
$LineHeight:								1.5;
$ContainerWidth:							1610px;
$ContainerPadding:							0px 15px 0px 15px;

$H1Size:									64px;
$H2Size:									50px;
$H3Size:									36px;
$H4Size:									32px;
$H5Size:									28px;
$H6Size:									26px;

$FontHairline:								100;
$FontThin:									200;
$FontLight:									300;
$FontRegular:								400;
$FontMedium:								500;
$FontSemibold:								600;
$FontBold:									700;
$FontHeavy:									800;
$FontBlack:									900;


/* Screen define */
$FullSize:									1500px;
$FullSizeSmall:								1400px;
$FullSizeMini:								1300px;
$Desktop:									1200px;
$DesktopSmall:								1100px;
$DesktopMini:								1050px;
$Laptop:									1000px;
$LaptopSmall:								900px;
$LaptopMini:								850px;
$Tablet:									800px;
$TabletSmall:								700px;
$TabletMini:								600px;
$Mobile:									500px;
$MobileSmall:								400px;
$MobileMini:								350px;